* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  margin: 0;
}

h2 {
  font-family: "Imprima", serif;
  font-weight: 100;
  font-size: 40px;
}

p,
div,
button {
  font-family: "Istok Web", sans-serif;
  font-size: 20px;
}

.limit {
  max-width: 800px;
  margin: 0 auto;
}

button {
  background: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}
